
.scoreBoard{
  padding: 2rem 1rem;
  background-color: #314189;
  font-size: 1.8rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.grid{
  padding: 1.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2rem;
  
}

.card {
  padding: 1rem;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: .8rem;
  cursor: pointer;
} 

.card:hover {
  transform: scale(1.1);
}

/* .card img{
  width: 200px;
  height: 140px;
} */

.card h3{
  font-size: 1.4rem;
}


.startScreen, .gameOver, .winScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;           
  padding: 2rem 3rem;      
  border-radius: 1rem;      
  background-color: #fff; 
  color: #000;              
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}


dialog h1, .gameOver h2, .winScreen h2 
 {
  font-size: 2.4rem;
  font-weight: bold;
}
dialog button, .gameOver button, .winScreen button{
  padding: .4rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: .8rem;
  background-color: #ffcc00;
  color: #2d2d2d;
  cursor: pointer;
  transition: all 0.2s ease;
} 


dialog button:hover, .gameOver button:hover, .winScreen button:hover{
  background-color: #ffe066;
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #2d2d2d;
}

.gameOver p, .winScreen p{
  font-size: 1.8rem;
  font-weight: 700;
}


