/* ===== GLOBAL RESET ===== */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  width: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #2D3C59;
}

/* Media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Form elements */
input, button, textarea, select {
  font: inherit;
}

:root {
  font-size: 10px;
}
/* Root container */
#root {
  min-height: 100vh;
}
